*{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
   

}


.contanier{
   
    margin: 0;
    background-size: cover;
   
    padding-left: 25px;
    padding-right: 25px;
    
    
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;

}
.col-2 img{
    max-width: 70%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: rgb(93, 175, 175);

}

.header{
   
   background: white;
}
.header .row{
    margin-top: 50px;

}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background: rgb(211, 224, 224);
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img {
    width: 50%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: rgb(60, 148, 148);
}
.title::after{
    content: '';
    background: rgb(121, 175, 157);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;

}
.col-4 p{
    font-size: 14px;
}
.rating .fa{

    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
}

.btn{

    display: inline-block;
    background: rgb(97, 175, 171);
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}




#banner{
    background-image:linear-gradient(rgba(212, 201, 201, 0.5),#009688) ,url(r.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

}
.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;

}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 130px;
    font-family: 'Kaushan Script', cursive;
}
.banner-text p{
    font-size: 20px;
    font-style: italic;
}
.banner-btn{
    margin: 0px auto 0;
    padding: 2%;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
}
.banner-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
    transition: color 0.5s;


}
.banner-btn a:hover span {
    width: 100%;
}
.banner-btn a:hover {
    color: #000;
}
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -2px;
    top: 0;
    background: #009688;
    z-index: 2;
    transition: 0.5s;
}
nav ul li {
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
#menuBtn{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img
{
    width: 20px;
    margin-top: 15px;
}
@media screen and (max-width:770px) {
    .banner-text h1{
        font-size: 44px;
    }
    .banner-btn a{
        display: block;
        margin: 20px auto;
    }
    
}